{% extends "layout.twig" %}

{% block content %}

<section class="page  page--blogpost">

    <!-- Zone Content -->
    <div class="zone-content">
        <div class="container">
            <div class="theme-blog-header">
                <time>{{ plugins.blog.posts[0].publishedDate|formatBlogDate(languageCode) }}</time>
                {{widget('pagetitle', 'pagetitle', {})|raw}}
            </div>
            <!-- Main Widet Zone -->
            {{zone('main')|raw}}
        </div>
    </div>
    <!-- End Zone Content -->

</section>

{% endblock %}
