// ----------------------------------------
// Timeline Template: CSS > Widgets > Social List
// ----------------------------------------





// Social Item
// ------------------------------


.social-item {
	margin: 0 6px 6px 0;
	display: inline-block;
}




// Social Link
// ------------------------------


.social-link {
	display: block;
	text-align: center;

	&:hover {
		text-decoration: none;
	}

	// Icon

	&:before {
		font-size: 18px;
		display: block;
		width: 36px;
		height: 36px;
		line-height: 36px;
		background-color: @color-swatch7;
		color: @color-swatch1;
		margin: 0 auto;
		border-radius: 50px;

		@media @tablet {
			font-size: 20px;
			width: 40px;
			height: 40px;
			line-height: 40px;
		}

		@media @mobile {
			font-size: 16px;
			width: 30px;
			height: 30px;
			line-height: 30px;
		}


	}

	// Icon hover

	&:hover:before {
		background-color: @color-swatch2;
	}
}




// Social Name
// ------------------------------


.socialicons__social-name {
	display: none;
}