<!-- Footer -->
<footer class="template-footer">

	<div class="container">
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        {{widget('profile', 'profile1', { 'profileType':'socialicons' })|raw}}
	</div>

</footer>
<!-- End Footer -->